<div style="width:100%">
  <div
    style="max-width:600px;margin:0 auto;padding:60px 0 30px 0;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;border:1px solid #e2e2e2">
    <div align="center" style="padding-right:0px;padding-left:0px;background-color:#000000;padding:20px 0"
      class="logo-area">
      <h1 style="color:#ffffff;font-size:48px;margin:0">DECK</h1>
      <h2 style="color:#ffffff;font-size:24px;margin:0">NEWSLETTER</h2>
    </div>
    <hr style="border:0;border-top:solid 1px #e2e2e2;width:90%;margin:30px auto" class="horizontal-line">
    <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
      <div style="margin-top:20px">{{ today }} {{ query }} 관련 주요 기사입니다.</div>
      <div style="margin-top:20px">{{ briefing }}</div>
    </div>

    {% for block in article_blocks %}
    {{ block | safe }}
    {% endfor %}

    <div align="center" style="padding-top:40px;padding-right:10px;padding-bottom:10px;padding-left:10px">
      <a href="https://k-enterworld.com"
        style="text-decoration-line: none; display: inline-block; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-radius: 60px; width: auto; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); padding: 10px 25px;"
        target="_blank">Learn More</a>
    </div>
    <div style="text-align:center;">
      <a style="font-size:12px;color:silver"
        href="mailto:your@email.com?subject=Unsubscribe!&amp;body=I&nbsp;don't&nbsp;want&nbsp;to&nbsp;receive&nbsp;an&nbsp;email&nbsp;from&nbsp;your&nbsp;service!"
        target="_blank">Unsubscribe from emails</a>
    </div>
  </div>
</div>